body {
    font-family: Arial, sans-serif;
}

.converter {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#amount {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
#from, #to {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#convert-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
