body {
    font-family: Arial, sans-serif;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#task-list li:last-child {
    border-bottom: none;
}
#task-input {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
}

#add-task-btn {
    width: 23%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #3e8e41;
}
